*{
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
}

.notes,
.newNote,
.editNote {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.notes {
  width: 390px;
  height: 400px;
  margin-right: 10px;
}

.newNote {
  width: 800px;
  height: 400px;
}

.editNote {
  width: 1200px;
  height: 200px;
}
span{
  padding: 0 10px;
}